{% load static %}
<div class="sidebar__widget mb-40">
    <div class="sidebar__widget-top mb-30">
       <h3 class="sidebar__widget-title">برچسب ها</h3>
    </div>
    <div class="sidebar__widget-content">
       <div class="sidebar__tag">
          <a href="#">شرکت</a>
          <a href="#">تمیز</a>
          <a href="#">مشاوره</a>
          <a href="#">طراحی</a>
          <a href="#">کیبرد</a>
          <a href="#">کیت</a>
          <a href="#">موس</a>
          <a href="#">معروف</a>
          <a href="#"> خانه </a>
          <a href="#">تک</a>
          <a href="#">دسترسی</a>
          <a href="#">یو ایکس</a>
       </div>
    </div>
 </div>