{% extends 'base.html' %}
{% load static %}
{% load blog-tags %}
{% block content %}
      <!-- offcanvas area start -->
      <div class="offcanvas__area">
         <div class="offcanvas__wrapper">
            <div class="offcanvas__close">
               <button class="offcanvas__close-btn" id="offcanvas__close-btn">
                  <i class="fal fa-times"></i>
               </button>
            </div>
            <div class="offcanvas__content">
               <div class="offcanvas__logo mb-40">
                  <a href="index.html">
                  <img src="{% static 'img/logo/logo-black.png' %}" alt="logo">
                  </a>
               </div>
               <div class="offcanvas__search mb-25">
                  <form action="#">
                     <input type="text" placeholder="دنبال چه می‌گردید؟">
                     <button type="submit" ><i class="far fa-search"></i></button>
                  </form>
               </div>
               <div class="mobile-menu fix"></div>
               <div class="offcanvas__text d-none d-lg-block">
                  <p> اما من باید برای شما توضیح دهم که چگونه این ایده اشتباه در مورد محکوم کردن لذت و ستایش درد متولد شده است و به شما گزارش کاملی از سیستم می دهد و آموزه های واقعی اکتشاف بزرگ را شرح می دهد </p>
               </div>
               <div class="offcanvas__img d-none d-lg-block mb-20">
                  <div class="row gx-2">
                     <div class="col-4">
                        <div class="offcanvas__single-img w-img mb-10">
                           <a class="popup-img" href="{% static 'img/offcanvas/offcanvas-1.jpg' %}">
                              <img src="{% static 'img/offcanvas/offcanvas-1.jpg' %}" alt="">
                           </a>
                        </div>
                     </div>
                     <div class="col-4">
                        <div class="offcanvas__single-img w-img mb-10">
                           <a class="popup-img" href="{% static 'img/offcanvas/offcanvas-2.jpg' %}">
                              <img src="{% static 'img/offcanvas/offcanvas-2.jpg' %}" alt="">
                           </a>
                        </div>
                     </div>
                     <div class="col-4">
                        <div class="offcanvas__single-img w-img mb-10">
                           <a class="popup-img" href="{% static 'img/offcanvas/offcanvas-3.jpg' %}">
                              <img src="{% static 'img/offcanvas/offcanvas-3.jpg' %}" alt="">
                           </a>
                        </div>
                     </div>
                     <div class="col-4">
                        <div class="offcanvas__single-img w-img mb-10">
                           <a class="popup-img" href="{% static 'img/offcanvas/offcanvas-4.jpg' %}">
                              <img src="{% static 'img/offcanvas/offcanvas-4.jpg' %}" alt="">
                           </a>
                        </div>
                     </div>
                     <div class="col-4">
                        <div class="offcanvas__single-img w-img mb-10">
                           <a class="popup-img" href="{% static 'img/offcanvas/offcanvas-5.jpg' %}">
                              <img src="{% static 'img/offcanvas/offcanvas-5.jpg' %}" alt="">
                           </a>
                        </div>
                     </div>
                     <div class="col-4">
                        <div class="offcanvas__single-img w-img mb-10">
                           <a class="popup-img" href="{% static 'img/offcanvas/offcanvas-6.jpg' %}">
                              <img src="{% static 'img/offcanvas/offcanvas-6.jpg' %}" alt="">
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="offcanvas__map d-none d-lg-block mb-15">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d29176.030811137334!2d90.3883827!3d23.924917699999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1605272373598!5m2!1sen!2sbd"></iframe>
               </div>
               <div class="offcanvas__contact mt-30 mb-20">
                  <h4> اطلاعات تماس </h4>

                  <ul>
                     <li class="d-flex align-items-center">
                        <div class="offcanvas__contact-icon mr-15">
                           <i class="fal fa-map-marker-alt"></i>
                        </div>
                        <div class="offcanvas__contact-text">
                           <a target="_blank" href="https://www.google.com/maps/place/Dhaka/@23.7806207,90.3492859,12z/data=!3m1!4b1!4m5!3m4!1s0x3755b8b087026b81:0x8fa563bbdd5904c2!8m2!3d23.8104753!4d90.4119873">یک آدرس فرضی در این مکان است</a>
                        </div>
                     </li>
                     <li class="d-flex align-items-center">
                        <div class="offcanvas__contact-icon mr-15">
                           <i class="far fa-phone"></i>
                        </div>
                        <div class="offcanvas__contact-text">
                           <a href="mailto:support@gmail.com">088889797697</a>
                        </div>
                     </li>
                     <li class="d-flex align-items-center">
                        <div class="offcanvas__contact-icon mr-15">
                           <i class="fal fa-envelope"></i>
                        </div>
                        <div class="offcanvas__contact-text">
                           <a href="tel:+012-345-6789">support@mail.com</a>
                        </div>
                     </li>
                  </ul>
               </div>
               <div class="offcanvas__social">
                  <ul>
                     <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                     <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                     <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                     <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <!-- offcanvas area end -->      
      <div class="body-overlay"></div>
      <!-- offcanvas area end -->

      <!-- search overlay start -->
      <section class="search__area d-flex align-items-center">
         <div class="container">
            <div class="row">
               <div class="col-xxl-12">
                  <div class="search__wrapper">
                     <div class="search__close">
                        <button class="search-close-btn"><i class="fal fa-times"></i></button>
                     </div>
                     <form action="#">
                        <div class="search__input">
                           <input type="text" placeholder="جستجو ... ">
                           <button type="submit"><i class="far fa-search"></i></button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- search overlay end -->


      <main>

            <!-- page title area start -->
            <section class="page__title-area pt-145 pb-150 p-relative page__title-overlay" data-background="{% static 'img/page-title/page-title-1.jpg' %}">
               <div class="container">
                  <div class="row">
                     <div class="col-xxl-12">
                        <div class="page__title-wrapper">
                           <h3 class="page__title">بلاگ</h3>
                           <nav aria-label="breadcrumb">
                              <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="{% url 'website:index' %}"> خانه </a></li>
                              <li class="breadcrumb-item active" aria-current="page">بلاگ</li>
                              </ol>
                           </nav>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <!-- page title area end -->

            <!-- blog area start -->
            <section class="blog__area pt-130 pb-130">
               <div class="container">
                  <div class="row">
                     <div class="col-xxl-8 col-xl-8 col-lg-8">
                        <div class="postbox__wrapper pr-20">
                           {% for post in posts %}
                           <article class="postbox__item format-image mb-50 transition-3">
                              <div class="postbox__thumb w-img">
                                 <a href="blog-details.html">
                                    <img src="{{post.img.url}}" alt="">
                                 </a>
                              </div>
                              <div class="postbox__content">
                                 <div class="postbox__meta">
                                    <span><i class="far fa-calendar-check"></i> {{post.created_date|date:"d M Y"}}</span>
                                    <span><a href="{% url 'blog:author' str=post.author.first_name %}"><i class="far fa-user"></i>{{post.author.first_name}}</a></span>
                                    <span><a href="#"><i class="fal fa-comments"></i>{% comment_count post.id %}</a></span>
                                 </div>
                                 <h3 class="postbox__title">
                                    <a href="{% url 'blog:single' pid=post.id%}">{{post.title}}</a>
                                 </h3>
                                 <div class="postbox__text">
                                    <p>{{post.content|snippet:500}}</p>
                                 
                                 </div>
                                 <div class="postbox__read-more">
                                    <a href="{% url 'blog:single' pid=post.id %}" class="d-btn d-btn-3 d-btn-orange">بیشتر بخوانید </a>
                                 </div>
                              </div>
                           </article>
                           {% endfor %}
                           <div class="basic-pagination">
                              <nav>
                                 <ul>
                                    <li>
                                       {% if posts.has_previous %}
                                       <a href="?page={{ posts.previous_page_number }}">
                                          <i class="far fa-angle-right"></i>
                                       </a>
                                       {% endif %}
                                    </li>
                                    {% for i in posts.paginator.page_range %}
									         {% if posts.number == i %}
                                    <li class="page-item">
                                       <a href="?page={{i}}" class="active">{{i}}</a>

                                    </li>
                                       {% else %}
                                       <li class="page-item">
                                       <a href="?page={{i}}" >{{i}}</a>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                    
                            
                                    
                                    {% if posts.has_next %}
                                    <li>
                                       <a href="?page={{ posts.next_page_number }}">
                                          <i class="far fa-angle-left"></i>
                                       </a>
                                    </li>
                                    {% endif %}
                                 </ul>
                              </nav>
                           </div>
                        </div>
                     </div>
                     <div class="col-xxl-4 col-xl-4 col-lg-4">
                        <div class="sidebar__wrapper-2">
                           {% include 'blog/blog-search.html' %}
                           {% latestposts %}
                           {% include 'blog/blog-category-post.html' %}
                           {% include 'blog/blog-tags.html' %}
                           {% include 'blog/blog-adv.html' %}
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <!-- blog area end -->

      </main>

{% endblock %}